<header class="site-header outer">
	<div class="inner">
		<div class="site-header-inside">
			{{#if @site.logo}}
			<p class="site-logo"><a href="{{@site.url}}"><img src="{{img_url @site.logo size="xs"}}" alt="{{@site.title}}" /></a></p>
			{{/if}}
			{{#is "index"}}
			<h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
			{{else}}
			<p class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></p>
			{{/is}}
			{{#if @site.description}}
			<p class="site-description">{{@site.description}}</p>
			{{/if}}
		</div><!-- .site-header-inside -->
	</div><!-- .inner -->
</header><!-- .site-header -->
