{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the single post --}}
<div class="primary">

	{{!-- Everything inside the #post tags pulls data from the page --}}
	{{#post}}

	<article class="{{post_class}}">

		<header class="post-header">
			<div class="post-header-wrap">
				{{#if feature_image}}
				<div class="post-thumbnail">
					<img srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s"}} 480w, {{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 900w, {{img_url feature_image size="xl"}} 1800w" sizes="(max-width: 500px) calc(100vw - 30px), (max-width: 960px) 94vw, (max-width: 1260px) calc(75vw - 45px), 900px" src="{{img_url feature_image size="l"}}" alt="{{title}}" />
				</div>
				{{/if}}
				<h1 class="post-title outer">{{title}}</h1>
			</div>
			<div class="post-meta outer">
				{{#if featured}}
				<span class="featured-badge" aria-hidden="true">{{> "icons/star"}}</span>
				{{/if}}
				<span class="post-author">{{authors}}</span> / <time class="published"
					datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
			</div>
		</header><!-- .post-header -->

		<div class="post-content inner-small outer">

			{{#if access}}

			{{!-- The user has access: show post content --}}
			{{content}}

			{{else}}

			{{!-- The user has no access: show post excerpt and subscribe cta --}}
			<p class="post-excerpt">{{excerpt words="100"}}</p>
			{{> "member-cta"}}

			{{/if}}

		</div><!-- .post-content -->

		<footer class="post-footer inner-small outer">
			<div class="post-share">
				<span>{{t "Share"}}</span>
				<a class="button button-icon button-fill-horz" target="_blank" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" rel="noopener">{{> "icons/twitter"}}<span class="screen-reader-text">{{t "Share on Twitter"}}</span></a>
				<a class="button button-icon button-fill-horz" target="_blank" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" rel="noopener">{{> "icons/facebook"}}<span class="screen-reader-text">{{t "Share on Facebook"}}</span></a>
				<a class="button button-icon button-fill-horz" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&amp;title={{encode title}}&amp;source={{encode @site.title}}" rel="noopener">{{> "icons/linkedin"}}<span class="screen-reader-text">{{t "Share on LinkedIn"}}</span></a>
			</div>
			{{#if tags}}
			<div class="post-tags">
				<span>{{t "Tags:"}}</span>
				{{tags separator=""}}
			</div>
			{{/if}}
		</footer><!-- .post-footer -->

	</article><!-- .post -->

	<div class="author-box outer">
		<div class="inner-small">
			{{#foreach authors}}
			<div class="author-info">
				{{#if profile_image}}
				<a class="author-avatar" href="{{@site.url}}/author/{{slug}}">
					<img src="{{img_url profile_image size="xxs"}}" alt="{{name}}" class="avatar" />
				</a>
				{{/if}}
				<div class="author-details">
					<h2 class="author-title line-accent">{{{t "About <a href='{url}'>{name}</a>" url=(url) name=name}}}</h2>
					{{#if bio}}
					<p class="author-bio">{{bio}}</p>
					{{/if}}
					<p class="author-links">
						{{#if location}}
						<span class="author-location">{{> "icons/map-pin"}} {{location}}</span>
						{{/if}}
						{{#if website}}
						<span class="author-website">{{> "icons/link"}} <a href="{{website}}" target="_blank" rel="noopener">{{t "Website"}}</a></span>
						{{/if}}
						{{#if facebook}}
						<span class="author-facebook">{{> "icons/facebook"}} <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a></span>
						{{/if}}
						{{#if twitter}}
						<span class="author-twitter">{{> "icons/twitter"}} <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a></span>
						{{/if}}
					</p>
				</div>
			</div><!-- .author-info -->
			{{/foreach}}
		</div><!-- .inner-small -->
	</div><!-- .author-box -->

	{{!-- Previous/next post links --}}
	<nav class="post-navigation">
		<h2 class="screen-reader-text">{{t "Read Next"}}</h2>
		{{#next_post}}
		<div class="nav-next">
			<div class="nav-inside inner-small outer">
				{{#if feature_image}}
				<a href="{{url}}" class="nav-thumb">
					<img srcset="{{img_url feature_image size="xs"}}, {{img_url feature_image size="s"}} 2x" src="{{img_url feature_image size="xs"}}" alt="{{t "Next Post Preview"}}" />
				</a>
				{{/if}}
				<div class="nav-before">{{t "Next"}}</div>
				<h3 class="nav-title"><a href="{{url}}">{{title}}</a></h3>
				<div class="nav-date">{{date format="MMMM DD, YYYY"}}</div>
			</div>
		</div>
		{{/next_post}}
		{{#prev_post}}
		<div class="nav-previous">
			<div class="nav-inside inner-small outer">
				{{#if feature_image}}
				<a href="{{url}}" class="nav-thumb">
					<img srcset="{{img_url feature_image size="xs"}}, {{img_url feature_image size="s"}} 2x" src="{{img_url feature_image size="xs"}}" alt="{{t "Previous Post Preview"}}" />
				</a>
				{{/if}}
				<div class="nav-before">{{t "Previous"}}</div>
				<h3 class="nav-title"><a href="{{url}}">{{title}}</a></h3>
				<div class="nav-date">{{date format="MMMM DD, YYYY"}}</div>
			</div>
		</div>
		{{/prev_post}}
	</nav><!-- .post-navigation -->

	{{!-- The theme comments - partials/comments.hbs --}}
	{{> comments}}

	{{/post}}

</div><!-- .primary -->

{{!-- The theme sidebar - partials/sidebar.hbs --}}
{{> sidebar}}
